.img-back1
    background-image: url("back1.jpg")

.cookbook
    text-align: left
    font-size: 40px
    color: white
    font-weight: bold
    text-decoration: none

.cookbook-text
    text-align: left
    font-size: 15px
    color: white

.logon
    text-align: right
    font-size: 20px
    color: white
