.img-header
  background-image: url("header.jpg")

.img-background
  background-image: url("background.png")

.img-footer
  background-image: url("footer1.jpg")
  height: 100px

.cookbook
  text-align: left
  font-size: 40px
  color: white
  font-weight: bold
  text-decoration: none

.cookbook-text
  text-align: left
  font-size: 15px
  color: white

.logon
  text-align: right
  font-size: 20px
  color: white

.title
  font-size: 30px

.subtitle
  font-size: 20px

.paragraph
  font-size: 15px
