.img-header
    background-image: url("back1.jpg")

.img-background
    background-image: url("background.png")

.img-footer
    background-image: url("footer.xcf")

.cookbook
    text-align: left
    font-size: 40px
    color: white
    font-weight: bold
    text-decoration: none

.cookbook-text
    text-align: left
    font-size: 15px
    color: white

.logon
    text-align: right
    font-size: 20px
    color: white
